nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  animation: slideInLeft 0.6s $transicion-rapida;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: $color-principal;
  transition: background-color $transicion-rapida, transform $transicion-rapida;

  &:hover {
    background-color: $color-fondo-hover-nav;
    transform: translateY(-2px);
  }
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.video-container {
  margin-bottom: 20px;
  animation: fadeIn 0.7s $transicion-rapida;
}

.formulario-container {
  max-width: 500px;
  width: 100%;
  text-align: center;
  animation: slideInRight 0.6s $transicion-rapida;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid $color-gris-medio;
  border-radius: $radio-borde-input;
}
