$color-principal: #FE4F2D;
$color-texto-principal: #FE4F2D;
$color-fondo-principal: #90D1CA;
$color-blanco: #90D1CA;
$color-gris-medio: #ccc;
$color-gris-oscuro: #555;

$color-primario-boton: #FFE31A;
$color-texto-boton-primario: #82954B;

$color-primario-boton-hover: #82954B;
$color-fondo-header-gradient-start: #82954B;
$color-fondo-header-gradient-end: #BABD42;
$color-fondo-hover-nav: #90D1CA;

$color-borde-producto: #015551;
$color-fondo-producto: #90D1CA;
$color-titulo-producto: #BABD42;
$color-texto-producto: #BABD42;

$color-borde-carrito: #015551;
$color-fondo-hover-carrito: #90D1CA;
$color-fondo-footer: #90D1CA;
$color-texto-footer: #333;
$color-borde-footer: #015551;
$color-enlace-redes: #007bff;
$color-borde-redes: #015551;

$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: Georgia, 'Times New Roman', Times, serif;

$radio-borde: 4px;
$radio-borde-input: 5px;
$radio-borde-producto: 8px;
$transicion-rapida: 0.3s ease;
$sombra-producto: 0 2px 5px rgba(0, 0, 0, 0.1);

$color-exito: #16C47F;
$color-texto-exito: #16C47F;
$color-exito-hover: #16C47F

