@import '../abstract/mixins'; // Para usar el mixin @include keyframes()

/* Definición de Animaciones */
@include keyframes(fadeIn) {
    from { opacity: 0; }
    to { opacity: 1; }
}

@include keyframes(slideInDown) {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@include keyframes(pulseHeader) {
    from { transform: scale(1); }
    to { transform: scale(1.02); }
}

@include keyframes(zoomIn) {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@include keyframes(fadeInUp) {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@include keyframes(slideInLeft) {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@include keyframes(fadeInSlide) {
    from { opacity: 0; transform: translateX(-10px); }
    to { opacity: 1; transform: translateX(0); }
}