.btn-success {
  background-color: var(--color-verde-claro);
  color: var(--color-fondo-suave);
  @include transition(background-color 0.3s, transform 0.3s);
}

.btn-success:hover {
  background-color: var(--color-acento-naranja);
  transform: scale(1.03);
}
