// Variables de colores, tipografía, tamaños
:root {
  --color-fondo-suave: #e6d58b;
  --color-acento-naranja: #FE4F2D;
  --color-verde-oscuro: #015551;
  --color-verde-claro: #16C47F;
  --color-verde-gradiente-inicio: #74d222;
  --color-verde-gradiente-fin: #80e627;
  --color-texto-general-claro: #1f8976;
  --color-texto-general-oscuro: #06483e;
  --color-texto-precio-card: #F7570C;
  --color-footer-fondo: #090946;
  --color-footer-botones: #45d1ca;
  --font-size-base: 16px;
  --font-size-mobile: 14px;
}
